.navbar {
  display: flex;
  justify-content: space-between; 
  align-items: center;
  padding: 12px 24px;
  background: #f4eae3;
}

.logo {
  font-size: 1.5rem;
  font-weight: bold;
}

.nav-links {
  display: flex;
  gap: 15px;
  margin-left: 20px; 
}

.nav-links li a {
  color: black;
  font-weight: 500;
}


.left {
  display: flex;
  align-items: center;
  gap: 20px;
}

a.active{
  color: red;
}




